[*]
vsspell_section_id = 1fedae149a034873b36424d6a805594e
vsspell_ignored_words_1fedae149a034873b36424d6a805594e = bigint|Color|datetimeoffset|localdb|mssqllocaldb|nvarchar|repo|todo|useradmin|Segoe

