@model Models.Appointment
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResource> _sharedLocalizer

@{
	Layout = null;
	var selectList = ViewData["SelectListAppointmentType"] as SelectList;
	if (selectList != null) {
		selectList.First(item => item.Value == Model.AppointmentTypeId).Selected = true;
	}
}

<form asp-action="Create" class="text-light">
	@Html.AntiForgeryToken()

	<tr id="#@Model.Id">
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="AgendaUserId" />
		<input type="hidden" asp-for="Created" />
		<input type="hidden" asp-for="Deleted" />
		<input type="hidden" asp-for="IsApproved" />
		<input type="hidden" asp-for="IsCompleted" />
		<input type="hidden" asp-for="AppointmentType" />

		<td class="form-group">
			<input asp-for="Date" id="datePicker" class="form-control" placeholder="Select date and time" value="@Model.Date.ToString("yyyy-MM-dd HH:mm")" />
			<span asp-validation-for="Date" class="text-danger"></span>
		</td>
		<td class="form-group">
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</td>
		<td class="form-group">
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</td>
		<td class="form-group">
			<select asp-for="AppointmentTypeId" class="form-control" asp-items="@selectList"></select>
			<span asp-validation-for="AppointmentTypeId" class="text-danger"></span>
		</td>
		<td class="form-group">
		</td>
		<td class="form-group">
		</td>
		<td class="form-group">
			<input type="submit" value="@_sharedLocalizer["Request"]" class="btn btn-primary w-100" />
		</td>
	</tr>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
