@using Microsoft.AspNetCore.Mvc.Localization
@using Models
@using Models.Enums
@model Appointment

@inject IHtmlLocalizer<GardenPlanner_Web.SharedResource> _sharedLocalizer

@{
	Layout = null;
	var selectList = (SelectList?) ViewData["SelectListAppointmentType"];
	if (selectList != null) {
		selectList.First(item => item.Value == Model.AppointmentTypeId).Selected = true;
	}
}

@using (Html.AjaxBeginForm(
	actionName: "Edit",
	controllerName: "Appointments",
	ajaxOptions: new AjaxOptions {
		HttpMethod = "post",
		InsertionMode = InsertionMode.Replace,
		UpdateTargetId = Model.Id
	})) {
	Html.AntiForgeryToken();
	<tr id="#@Model.Id">
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="AgendaUserId" />
		<input type="hidden" asp-for="Created" />
		<input type="hidden" asp-for="Deleted" />

		@if (!(User.IsInRole("UserAdmin") || User.IsInRole("Admin") || User.IsInRole("Employee"))) {
			<input type="hidden" asp-for="IsApproved" />
			<input type="hidden" asp-for="IsCompleted" />
		}
		<td class="form-group">
			<input asp-for="Date" id="datePicker" class="form-control" placeholder="Select date and time" value="@Model.Date.ToString("yyyy-MM-dd HH:mm")" onchange="$(this.form).submit();" />
			<span asp-validation-for="Date" class="text-danger"></span>
		</td>
		<td class="form-group">
			<input asp-for="Title" class="form-control" onchange="$(this.form).submit();" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</td>
		<td class="form-group">
			<textarea asp-for="Description" class="form-control" onchange="$(this.form).submit();"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</td>
		<td class="form-group">
			<select asp-for="AppointmentTypeId" class="form-control" asp-items="@selectList" onchange="$(this.form).submit();"></select>
			<span asp-validation-for="AppointmentTypeId" class="text-danger"></span>
		</td>
		@if (User.IsInRole("UserAdmin") || User.IsInRole("Admin") || User.IsInRole("Employee")) {
			<td class="form-group">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="IsApproved" onchange="$(this.form).submit();" />
				</label>
			</td>
			<td class="form-group">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="IsCompleted" onchange="$(this.form).submit();" />
				</label>
			</td>
		}
		<td class="form-group">
			<a asp-action="Delete" asp-route-id="@Model.Id">@_sharedLocalizer["Delete"]</a>
		</td>
	</tr>
}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
