@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<GardenPlanner_Web.SharedResource> _sharedLocalizer

@{
	ViewData["Title"] = _sharedLocalizer["Home"];
}

<div class="text-center makebubbly">
	<h1 class="display-4 text-light">@_sharedLocalizer["Welcome"]</h1>

    <p class="lead text-light">@_sharedLocalizer["Plan and organize your landscaping business with ease using GardenPlanner"].</p>

	<p class="lead text-light">@_sharedLocalizer["Login or make an account to begin"].</p>
</div>
