@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<GardenPlanner_Web.SharedResource> _sharedLocalizer

@{
	ViewData["Title"] = _sharedLocalizer["Home"];
}

<div class="text-center">
	<h1 class="display-4">@_sharedLocalizer["Welcome"]</h1>
</div>
