@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<GardenPlanner_Web.SharedResource> _sharedLocalizer

@{
    ViewData["Title"] = @_sharedLocalizer["Privacy Policy"];
}
<h1>@ViewData["Title"]</h1>

<p>@_sharedLocalizer["This is our privacy policy"].</p>
